@model PagedList.IPagedList<BookCollection.Models.Author>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Authors";
}

<div class="row">
    <div class="col-md-6"><h2>@ViewBag.Title</h2></div>
    <div class="col-md-6">
        <div class="pull-right" style="margin:25px 5px 0 0">
            @BC.IconButton("Authors","Create", "plus", "Add new author")
        </div>
    </div>
</div>

@using (Html.BeginForm("Index", "Authors", FormMethod.Get))
{
    <p>
        Author: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Filter" />
    </p>
}

<table class="table table-hover">
    <tr>
        <th>
            @Html.ActionLink("Last name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter, currentSort = ViewBag.CurrentSort })
        </th>
        <th>
            First name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td class="text-nowrap">
            @BC.IconButton("Authors","Edit", "pencil", "Edit", item.AuthorID)
            @BC.IconButton("Authors", "Details", "eye-open", "Details", item.AuthorID)
            @BC.IconButton("Authors", "Delete", "remove", "Delete", item.AuthorID)
        </td>
    </tr>
}

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, currentSort = ViewBag.CurrentSort }))