@model BookCollection.Models.Publisher

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Publisher</h2>

<div>
    <p>
        @BC.IconButton("Publisher", "Edit", "pencil", "Edit", new { id = Model.PublisherID })
        @BC.IconButton("Publisher", "Index", "th-list", "Back to List")
    </p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>


@Html.Partial("_RelatedBooks", Model.Books)