@model BookCollection.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Category</h2>

<div>
    <p>
        @BC.IconButton("Categories", "Edit", "pencil", "Edit", new { id = Model.CategoryID })
        @BC.IconButton("Categories", "Index", "th-list", "Back to List")
    </p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

    </dl>
</div>

@Html.Partial("_RelatedBooks", Model.Books)

