@model IEnumerable<BookCollection.Models.Category>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td class="text-nowrap">
            @BC.IconButton("Edit", "pencil", "Edit", item.BookID)
            @BC.IconButton("Details", "eye-open", "Details", item.BookID)
            @BC.IconButton("Delete", "remove", "Delete", item.BookID)
        </td>
    </tr>
}
    
</table>
