@model PagedList.IPagedList<BookCollection.Models.Category>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Categories";
}

<div class="row">
    <div class="col-md-6"><h2>@ViewBag.Title</h2></div>
    <div class="col-md-6">
        <div class="pull-right" style="margin:25px 5px 0 0">
            @BC.IconButton("Categories", "Create", "plus", "Add new category")
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td class="text-nowrap">
            @BC.IconButton("Categories", "Edit", "pencil", "Edit", item.CategoryID)
            @BC.IconButton("Categories", "Details", "eye-open", "Details", item.CategoryID)
            @BC.IconButton("Categories", "Delete", "remove", "Delete", item.CategoryID)
        </td>
    </tr>
}
    
</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))