@model IEnumerable<BookCollection.ViewModels.CategoryGroup>

<h2>@ViewBag.Title</h2>
<table class="table table-hover">
    <tr>
        <th style="width:50%">
            @ViewBag.ColumTitle1
        </th>
        <th style="width:50%">
            @ViewBag.ColumTitle2
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @item.BookCount
            </td>
        </tr>
    }
</table>
