@model BookCollection.ViewModels.Statistics

@{
    ViewBag.Title = "Book Collection Statistics";
}

<h2>Statistics</h2>


<table class="table table-hover">
    <tr>
        <th style="width:50%">
            Type
        </th>
        <th style="width:50%">
            Count
        </th>
    </tr>

    <tr>
        <td>
            Authors
        </td>
        <td>
            @Model.Authors
        </td>
    </tr>
    <tr>
        <td>
            Books
        </td>
        <td>
            @Model.Books
        </td>
    </tr>
    <tr>
        <td>
            Categories
        </td>
        <td>
            @Model.Categories
        </td>
    </tr>
    <tr>
        <td>
            Publishers
        </td>
        <td>
            @Model.Publishers
        </td>
    </tr>
    <tr>
        <td>
            Subjects
        </td>
        <td>
            @Model.Subjects
        </td>
    </tr>
    <tr>
        <td>Languages</td>
        <td>
            @Model.Languages
    </td>
    </tr>

</table>

@Html.Partial("_CategoryBooks", Model.LanguageGroupStats, new ViewDataDictionary() {
    { "Title", "Books per language" },
    { "ColumTitle1", "Language" },
    { "ColumTitle2", "Book count" },
})

@Html.Partial("_CategoryBooks", Model.CategoryGroupStats, new ViewDataDictionary() {
    { "Title", "Books per category" },
    { "ColumTitle1", "Category" },
    { "ColumTitle2", "Book count" },
})


