@{
    ViewBag.Title = "Home Page";
}
@section AddToHead{
    <link href="@Url.Content("~/Content/HomeIndex.css")" rel="stylesheet" type="text/css" />
}

<div class="bg"></div>
<div class="jumbotron">
    <h1>Welcome to Book Collection</h1>
    <p class="lead">Book Collection is a free web application for managing your books.</p>
    <p><a target="_blank" href="http://www.github.com/guzzter" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Categories</h2>
        <p>
            @foreach (var t in (IEnumerable<BookCollection.ViewModels.CategoryGroup>)ViewBag.CatTagCloud)
            {

                @Html.RouteLink(t.CategoryName, "Default",
                new { controller = "Categories", action = "DetailsForName", name = t.CategoryName },
                new { @class = BC.GetTagClass(t.BookCount, t.TotalBookCount) })
                <html>
                &nbsp;
            </html>
            }
        </p>
    </div>
    <div class="col-md-4">
        <h2>Most recent books</h2>
        <ul>
            @foreach (var b in (IEnumerable<BookCollection.Models.Book>)ViewBag.MostRecent)
            {
                <li>
                    @Html.RouteLink(b.Title, "Default", new { controller = "Books", action = "Details", id = b.BookID })
                </li>
            }
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Series</h2>
        @foreach (var st in (IEnumerable<BookCollection.ViewModels.CategoryGroup>)ViewBag.SerieTagCloud)
        {
            <span class="@BC.GetTagClass(st.BookCount, st.TotalBookCount)">@st.CategoryName</span>
            <html>&nbsp;</html>
        }
    </div>
</div>