@model BookCollection.Models.Subject

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Subject</h2>

<div>
    <p>
        @BC.IconButton("Subjects", "Edit", "pencil", "Edit", new { id = Model.SubjectID })
        @BC.IconButton("Subjects", "Index", "th-list", "Back to List")
    </p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>

@Html.Partial("_RelatedBooks", Model.Books)
