@model PagedList.IPagedList<BookCollection.Models.Subject>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Subjects";
}

<div class="row">
    <div class="col-md-6"><h2>@ViewBag.Title</h2></div>
    <div class="col-md-6">
        <div class="pull-right" style="margin:25px 5px 0 0">
            @BC.IconButton("Subjects", "Create", "plus", "Add new subject")
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td class="text-nowrap">
            @BC.IconButton("Subjects", "Edit", "pencil", "Edit", item.SubjectID)
            @BC.IconButton("Subjects", "Details", "eye-open", "Details", item.SubjectID)
            @BC.IconButton("Subjects", "Delete", "remove", "Delete", item.SubjectID)
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
